<div class="row container mt-4" style="height: fit-content;">
    <div class="col-3">
        <app-macro-list> </app-macro-list>
        <br/>
        <app-misc-buttons> </app-misc-buttons>
        <br/>
        <app-file-upload> </app-file-upload>
    </div>    

    <div class="col">
        <div class="container">
            <h1>Select a folder to run the macro</h1>
            <h1>Macro to run: {{MacroType}}</h1>
        </div>         
        <app-file-picker></app-file-picker>
    </div>

</div>