
<div class="container jumbotron">
    <div class="animated fadeIn">
        <h1 class="display-2 text-center">ImageJ web platform</h1>
        <p class="lead text-center">Imagej-web is a new way to run imagej-fiji macros
        </p>
        <br>
    </div>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <img src="../static/assets/img/fiji-logo.svg" style="width: 40%; " class="rounded">
            </div>
        </div>
    </div>
</div>