<div *ngIf="!macroReady; else elseBlock" class="col">
    <div class="card h-100">
        <div style="height: 250px;" class ="text-center">        
            <div class="d-flex justify-content-center text-info">
                <div class="spinner-border m-5" role="status" style="width: 8rem; height: 8rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>  
        <div class="card-body">
            <h5 class="card-title">Macro is loading</h5>
            <p class="card-text">More things.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Folder of origin:</li>
            <li class="list-group-item">{{waitingMacroId[2]}}</li>
            <div *ngIf="(queuePos | async) == 0 else elseBlock" >
                <li class="list-group-item">Position in queue:<br> in execution</li>
            </div>
            <ng-template #elseBlock>
                <li class="list-group-item">Position in queue: {{(queuePos | async)}}</li>
            </ng-template>
        </ul>
        <div class="card-footer">
            <small class="text-muted">Job id: {{waitingMacroId[0]}}</small>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="col">
        <div class="card h-100">
            <img src={{jobData.Image}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Macro is ready</h5>
                <p class="card-text">More things.</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Folder of origin:</li>
                <li class="list-group-item">{{waitingMacroId[2]}}</li>                    
            </ul>
            <div class="card-footer">
                <small class="text-muted">Job id: {{waitingMacroId[0]}}</small>
            </div>
        </div>
    </div>
</ng-template>